.testimony-container{
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 3px 13px 1px #a2a2a2ad;
}

.image-testimony{
    height: 100%;
}

.text-testimony{
    font-size: 18px;
    padding: 40px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: justify;
}

.name-testimony{
    font-size: 1.3rem;
}

.work-testimony{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

